<h1>Admin Home Page</h1>

@Html.ActionLink("CRUD Movies", "CRUDmovies", "Movie")
<span>  </span>
@Html.ActionLink("CRUD Genres", "Index", "Genre")
<span>  </span>
@Html.ActionLink("View Checked Out Movies", "CheckCustomerRental", "Customer")
